<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="admin.rooms">
	
	<select id="selectListRooms" resultType="RoomsDto">
		SELECT
				*
		FROM
				ROOMS
	</select>

	<insert id="insertRooms" parameterType="RoomsDto">
		INSERT INTO 
				ROOMS(
					SORT,
					ROOMS_NM,
					VIEW,
					PRICE,
					DISCOUNT_RATE,
					POINT,
					FLOOR,
					BED_NM,
					SIZE,
					STOCK,
					AMENITY_BATH,
					AMENITY_BED,
					FACILITIES,
					ROOMS_INTRO,
					ROOMS_INFO,
					ROOMS_FILE_NAME1,
					ROOMS_FILE_NAME2,
					ROOMS_FILE_NAME3,
					ENROLL_DT
				)
		 VALUES(
		 		#{sort},
				#{roomsNm},
				#{view},
				#{price},
				#{discountRate},
				#{point},
				#{floor},
				#{bedNm},
				#{size},
				#{stock},
				#{amenityBath},
				#{amenityBed},
				#{facilities},
				#{roomsIntro},
				#{roomsInfo},
				#{roomsFileName1},
				#{roomsFileName2},
				#{roomsFileName3},
				NOW()
		);
	</insert>
	
	<update id="updateRooms" parameterType="RoomsDto">
		UPDATE
				ROOMS
		<set>
			<if test='sort != null and sort != ""'>
				SORT = #{sort},
			</if>
			<if test='roomsNm != null and roomsNm != ""'>
				ROOMS_NM = #{roomsNm},
			</if>
			<if test='view != null and view != ""'>
				VIEW = #{view},
			</if>
			<if test='price != null and price != ""'>
				PRICE = #{price},
			</if>
			<if test='discountRate != null and discountRate != ""'>
				DISCOUNT_RATE = #{discountRate},
			</if>
			<if test='point != null and point != ""'>
				POINT = #{point},
			</if>
			<if test='floor != null and floor != ""'>
				FLOOR = #{floor},
			</if>
			<if test='bedNm != null and bedNm != ""'>
				BED_NM = #{bedNm},
			</if>
			<if test='size != null and size != ""'>
				SIZE = #{size},
			</if>
			<if test='stock != null and stock != ""'>
				STOCK = #{stock},
			</if>
			<if test='amenityBath != null and amenityBath != ""'>
				AMENITY_BATH = #{amenityBath},
			</if>
			<if test='amenityBed != null and amenityBed != ""'>
				AMENITY_BED = #{amenityBed},
			</if>
			<if test='facilities != null and facilities != ""'>
				FACILITIES = #{facilities},
			</if>
			<if test='roomsIntro != null and roomsIntro != ""'>
				ROOMS_INTRO = #{roomsIntro},
			</if>
			<if test='roomsInfo != null and roomsInfo != ""'>
				ROOMS_INFO = #{roomsInfo},
			</if>
			<if test='roomsFileName1 != null and roomsFileName1 != ""'>
				ROOMS_FILE_NAME1 = #{roomsFileName1},
			</if>
			<if test='roomsFileName2 != null and roomsFileName2 != ""'>
				ROOMS_FILE_NAME2 = #{roomsFileName2},
			</if>
			<if test='roomsFileName3 != null and roomsFileName3 != ""'>
				ROOMS_FILE_NAME3 = #{roomsFileName3},
			</if>
		</set>
		WHERE
				ROOMS_CD = #{roomsCd}
	</update>
	
	<delete id="deleteRooms" parameterType="int">
		DELETE FROM ROOMS WHERE ROOMS_CD = #{roomsCd}
	</delete>

</mapper>