<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="myPage">

	<select id="selectOneMyInfo" parameterType="String" resultType="MemberDto">
		SELECT
				*
		FROM
				MEMBER
		WHERE
				MEMBER_ID = #{memberId}
	</select>

	<update id="updteMyInfo" parameterType="MemberDto">
		UPDATE
				MEMBER
		 <set> 
	      <if test='memberNm != null and memberNm != ""'>
	        MEMBER_NM = #{memberNm},
	      </if>
	      <if test='passwd != null and passwd != ""'>
	        PASSWD = #{passwd},
	      </if>
	      <if test='point != null and point != ""'>
	        POINT = #{point},
	      </if>
	      <if test='gender != null and gender != ""'>
	        GENDER = #{gender},
	      </if>
	      <if test='dateBirth != null and dateBirth != ""'>
	        DATE_BIRTH = #{dateBirth},
	      </if>
	      <if test='hp != null and hp != ""'>
	        HP = #{hp},
	      </if>
	      <if test='smsstsYn != null and smsstsYn != ""'>
	        SMSSTS_YN = #{smsstsYn},
	      </if>
	      <if test='email != null and email != ""'>
	        EMAIL = #{email},
	      </if>
	      <if test='emailstsYn != null and emailstsYn != ""'>
	        EMAILSTS_YN = #{emailstsYn},
	      </if>
	      <if test='postalCode != null and postalCode != ""'>
	        POSTAL_CODE = #{postalCode},
	      </if>
	      <if test='roadAddress != null and roadAddress != ""'>
	        ROAD_ADDRESS = #{roadAddress},
	      </if>
	      <if test='landAddress != null and landAddress != ""'>
	        LAND_ADDRESS = #{landAddress},
	      </if>
	      <if test='remainingAddress != null and remainingAddress != ""'>
	        REMAINING_ADDRESS = #{remainingAddress},
	      </if>
	    </set>
	    WHERE
	    		MEMBER_ID = #{memberId}
	</update>
	
	<delete id="deleteMember" parameterType="String">
		DELETE FROM 
				MEMBER
		WHERE
				MEMBER_ID = #{memberId}
	</delete>
	
		 <resultMap type="hashmap" id="myOrderListMap">
			<result column="ORDER_CD"			property="orderCd"/>
			<result column="MEMBER_ID"			property="memberId"/>
			<result column="PAYMENT_AMT"		property="paymentAmt"/>
			<result column="PAY_ORDER_TIME"		property="payOrderTime"/>
			<result column="ROOMS_CD"			property="roomsCd"/>
			<result column="ROOMS_NM"			property="roomsNm"/>
			<result column="PRICE"				property="price"/>
			<result column="ROOMS_FILE_NAME1"	property="roomsFileName1"/>
		</resultMap>
		
	<select id="selectListMyOrder" parameterType="String" resultMap="myOrderListMap">
		SELECT
				O.ORDER_CD			AS ORDER_CD,
				O.MEMBER_ID			AS MEMBER_ID,
				O.PAYMENT_AMT		AS PAYMENT_AMT,
				O.PAY_ORDER_TIME	AS PAY_ORDER_TIME,
				R.ROOMS_CD			AS ROOMS_CD,
				R.ROOMS_NM			AS ROOMS_NM,
				R.ROOMS_FILE_NAME1	AS ROOMS_FILE_NAME1
		FROM
				`ORDER` O
			 JOIN ROOMS R
			 		 ON O.ROOMS_CD = R.ROOMS_CD
			 		AND O.MEMBER_ID = #{memberId}
		ORDER BY
				O.PAY_ORDER_TIME DESC;
	</select>
	
		<resultMap type="hashmap" id="myOrderDetailMap">
			<result column="ORDER_CD"		property="orderCd"/>
			<result column="CHECK_IN"		property="checkIn"/>
			<result column="CHECK_OUT"		property="checkOut"/>
			<result column="PERSONNEL"		property="personnel"/>
			<result column="BREAKFAST"		property="breakfast"/>
			<result column="SWIMMING_POOL"	property="swimmingPool"/>
			<result column="TOTAL_POINT"	property="totalPoint"/>
			<result column="ORDERER_NM"		property="ordererNm"/>
			<result column="ORDERER_HP"		property="ordererHp"/>
			<result column="REQUEST"		property="request"/>
			<result column="ROOMS_CD"		property="roomsCd"/>
			<result column="ROOMS_NM"		property="roomsNm"/>
		</resultMap>
		
	<select id="selectOneMyOrder" parameterType="hashmap" resultMap="myOrderDetailMap">
		SELECT
				O.ORDER_CD		AS ORDER_CD,
				O.CHECK_IN		AS CHECK_IN,
				O.CHECK_OUT		AS CHECK_OUT,
				O.PERSONNEL		AS PERSONNEL,
				O.BREAKFAST		AS BREAKFAST,
				O.SWIMMING_POOL	AS SWIMMING_POOL,
				O.TOTAL_POINT 	AS TOTAL_POINT,
				O.ORDERER_NM	AS ORDERER_NM,
				O.ORDERER_HP	AS ORDERER_HP,
				O.REQUEST		AS REQUEST,
				R.ROOMS_CD		AS ROOMS_CD,
				R.ROOMS_NM		AS ROOMS_NM
		FROM
				`ORDER` O
			JOIN MEMBER M
					 ON M.MEMBER_ID = O.MEMBER_ID
					AND M.MEMBER_ID = #{memberId}
			JOIN ROOMS R
					ON R.ROOMS_CD = O.ROOMS_CD
				   AND O.ORDER_CD = #{orderCd}
	</select>
</mapper>